<article class="tour-card tour-card-skeleton" aria-hidden="true">
    <div class="skeleton skeleton-image"></div>
    <div class="tour-card-body">
        <div class="skeleton skeleton-title"></div>
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line short"></div>
        <div class="skeleton skeleton-footer"></div>
    </div>
</article>
